{
  "openapi": "3.0.3",
  "info": {
    "title": "Capacities API",
    "version": "1.0.0",
    "termsOfService": "https://capacities.io/terms-and-conditions",
    "description": "Interactive **reference** for all routes of the Capacities API.\n\nYou can add your `cap-api-…` token in the **`Bearer Token`** field to make requests in this dashboard.",
    "x-scalar-sdk-installation": [
      {
        "lang": "Node",
        "description": "Install the Capacities TypeScript SDK:",
        "source": "npm install @capacities/api\n\nconst capacities = new CapacitiesClient({\n  apiToken: 'cap-api-1lNgD7****' \n})"
      }
    ]
  },
  "servers": [
    {
      "url": "https://api.capacities.io"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Space",
      "description": "Space related operations"
    },
    {
      "name": "Object",
      "description": "Operations on objects in a space"
    },
    {
      "name": "Blocks",
      "description": "Block content operations on objects"
    },
    {
      "name": "Objects",
      "description": "Search and list objects in a space"
    }
  ],
  "paths": {
    "/space": {
      "get": {
        "summary": "Get space",
        "description": "Returns information about the space associated with the API token.\n\n<br>\n\n**Rate limit**: 10 requests per 60 seconds",
        "tags": [
          "Space"
        ],
        "x-codeSamples": [
          {
            "label": "TypeScript SDK",
            "lang": "Node",
            "source": "import { CapacitiesClient } from '@capacities/api'\n\nconst capacities = new CapacitiesClient({\n  apiToken: 'cap-api-1lNgD7****',\n})\n\nconst space = await capacities.space.get()"
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "content": {
              "application/json": {
                "example": {
                  "id": "ac7abb59-b1fd-4102-b549-78e5443610ac",
                  "title": "Notes",
                  "icon": {
                    "type": "iconify",
                    "val": "ph-lightbulb"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
                      "description": "Unique identifier of the space."
                    },
                    "title": {
                      "type": "string",
                      "description": "Display title of the space."
                    },
                    "icon": {
                      "description": "Icon of the space, if set.",
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/ApiIconOutput"
                        }
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "title"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/space/structures": {
      "get": {
        "summary": "Get space structures",
        "description": "Returns structures visible in the space, including property definitions and collections. See [Structures](/api/concepts/structures) and [Properties](/api/concepts/properties).\n\n<br>\n\n**Rate limit**: 10 requests per 60 seconds",
        "tags": [
          "Space"
        ],
        "x-codeSamples": [
          {
            "label": "TypeScript SDK",
            "lang": "Node",
            "source": "import { CapacitiesClient } from '@capacities/api'\n\nconst capacities = new CapacitiesClient({\n  apiToken: 'cap-api-1lNgD7****',\n})\n\nconst { structures } = await capacities.space.structures()"
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "content": {
              "application/json": {
                "example": {
                  "structures": [
                    {
                      "id": "4ba6e5c6-3f31-45f2-93a0-27a8b2d91551",
                      "title": "Book",
                      "pluralName": "Books",
                      "propertyDefinitions": [
                        {
                          "id": "title",
                          "name": "",
                          "type": "title",
                          "writable": true
                        },
                        {
                          "id": "status",
                          "name": "Status",
                          "type": "label",
                          "writable": true,
                          "multiple": false,
                          "labelSet": [
                            {
                              "id": "not-started",
                              "name": "Not started"
                            },
                            {
                              "id": "in-progress",
                              "name": "In progress"
                            },
                            {
                              "id": "done",
                              "name": "Done"
                            }
                          ]
                        }
                      ],
                      "labelColor": "purple",
                      "collections": [
                        {
                          "id": "5cd11f44-88f9-448b-9875-af8ff1a5b2b9",
                          "title": "Favorites"
                        }
                      ]
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "structures": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "anyOf": [
                              {
                                "type": "string",
                                "format": "uuid",
                                "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                              },
                              {
                                "type": "string",
                                "enum": [
                                  "RootSpace",
                                  "User",
                                  "UserPersonal",
                                  "RootDatabase",
                                  "RootQuery",
                                  "RootPage",
                                  "RootStructure",
                                  "RootEntity",
                                  "RootBlocksTemplate",
                                  "MediaImage",
                                  "MediaPDF",
                                  "MediaAudio",
                                  "MediaVideo",
                                  "MediaWebResource",
                                  "MediaFile",
                                  "MediaTweet",
                                  "RootAIChat",
                                  "RootSimpleTable",
                                  "RootDailyNote",
                                  "RootTag",
                                  "UtilDate",
                                  "RootTask"
                                ]
                              }
                            ],
                            "description": "Structure id (UUID for custom types, or a built-in id such as RootPage)."
                          },
                          "title": {
                            "type": "string",
                            "description": "Singular display name of the structure."
                          },
                          "pluralName": {
                            "type": "string",
                            "description": "Plural display name of the structure."
                          },
                          "propertyDefinitions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "Stable property definition id (UUID or built-in key such as `title`)."
                                },
                                "name": {
                                  "type": "string",
                                  "description": "Display name of the property."
                                },
                                "type": {
                                  "type": "string",
                                  "enum": [
                                    "title",
                                    "text",
                                    "number",
                                    "boolean",
                                    "url",
                                    "date",
                                    "label",
                                    "entity",
                                    "aliases",
                                    "icon",
                                    "createdAt",
                                    "lastUpdatedAt",
                                    "richText"
                                  ],
                                  "description": "Property value type."
                                },
                                "writable": {
                                  "type": "boolean",
                                  "description": "Whether the property can be set on create or update."
                                },
                                "multiple": {
                                  "description": "When `type` is `label`: `true` if multiple options may be selected, `false` for single-select.",
                                  "type": "boolean"
                                },
                                "labelSet": {
                                  "description": "Fixed selectable options when `type` is `label`. Omitted for other property types.",
                                  "type": "array",
                                  "items": {
                                    "$ref": "#/components/schemas/ApiLabelOptionOutput"
                                  }
                                },
                                "allowedStructures": {
                                  "description": "When `type` is `entity`: structure ids of objects that may be linked in this property.",
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                }
                              },
                              "required": [
                                "id",
                                "name",
                                "type",
                                "writable"
                              ],
                              "additionalProperties": false
                            },
                            "description": "Property definitions for this structure."
                          },
                          "labelColor": {
                            "type": "string",
                            "description": "Hex color used as the label color for this structure."
                          },
                          "collections": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "format": "uuid",
                                  "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
                                  "description": "Unique identifier of the collection (database)."
                                },
                                "title": {
                                  "type": "string",
                                  "description": "Display title of the collection."
                                }
                              },
                              "required": [
                                "id",
                                "title"
                              ],
                              "additionalProperties": false
                            },
                            "description": "Non-default collections (databases) that use this structure."
                          }
                        },
                        "required": [
                          "id",
                          "title",
                          "pluralName",
                          "propertyDefinitions",
                          "labelColor",
                          "collections"
                        ],
                        "additionalProperties": false
                      },
                      "description": "Visible structures in the space."
                    }
                  },
                  "required": [
                    "structures"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/object": {
      "get": {
        "summary": "Get object",
        "description": "Returns one object by id, including typed properties and optional block content. See [Objects](/api/concepts/objects) and [Properties](/api/concepts/properties).\n\n<br>\n\n**Rate limit**: 30 requests per 60 seconds",
        "tags": [
          "Object"
        ],
        "x-codeSamples": [
          {
            "label": "TypeScript SDK",
            "lang": "Node",
            "source": "import { CapacitiesClient } from '@capacities/api'\n\nconst capacities = new CapacitiesClient({\n  apiToken: 'cap-api-1lNgD7****',\n})\n\nconst obj = await capacities.object.get({\n  id: '7d2e7f8a-4c3b-4e1d-9f0a-123456789abc',\n})"
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "id",
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
              "description": "Unique identifier of the object."
            },
            "required": true,
            "description": "Unique identifier of the object."
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "content": {
              "application/json": {
                "example": {
                  "id": "7d2e7f8a-4c3b-4e1d-9f0a-123456789abc",
                  "structureId": "4ba6e5c6-3f31-45f2-93a0-27a8b2d91551",
                  "collections": [
                    "9f20f3d7-7df6-4b4a-8f82-123456789abc"
                  ],
                  "properties": {
                    "title": {
                      "type": "title",
                      "title": {
                        "value": "Example"
                      }
                    },
                    "description": {
                      "type": "richText",
                      "richText": {
                        "value": [
                          {
                            "type": "TextToken",
                            "text": "Hello ",
                            "style": {
                              "bold": true
                            }
                          }
                        ]
                      }
                    }
                  },
                  "blocks": {
                    "notes": [
                      {
                        "id": "0742d198-776c-4329-8524-9f320908d425",
                        "type": "TextBlock",
                        "tokens": [
                          {
                            "type": "TextToken",
                            "text": "Section",
                            "style": {}
                          }
                        ],
                        "blocks": [],
                        "hierarchy": {
                          "key": "Base",
                          "val": 0
                        }
                      }
                    ]
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
                      "description": "Unique identifier of the object."
                    },
                    "structureId": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "uuid",
                          "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                        },
                        {
                          "type": "string",
                          "enum": [
                            "RootSpace",
                            "User",
                            "UserPersonal",
                            "RootDatabase",
                            "RootQuery",
                            "RootPage",
                            "RootStructure",
                            "RootEntity",
                            "RootBlocksTemplate",
                            "MediaImage",
                            "MediaPDF",
                            "MediaAudio",
                            "MediaVideo",
                            "MediaWebResource",
                            "MediaFile",
                            "MediaTweet",
                            "RootAIChat",
                            "RootSimpleTable",
                            "RootDailyNote",
                            "RootTag",
                            "UtilDate",
                            "RootTask"
                          ]
                        }
                      ],
                      "description": "Structure id (UUID for custom types, or a built-in id such as RootPage)."
                    },
                    "collections": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "uuid",
                        "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                      },
                      "description": "Collection ids this object is currently assigned to."
                    },
                    "properties": {
                      "$ref": "#/components/schemas/ApiObjectProperties"
                    },
                    "blocks": {
                      "description": "Block content keyed by property definition id.",
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/ApiBlock"
                        }
                      }
                    },
                    "files": {
                      "description": "File resources attached to this object. Present only for media object types.",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string",
                            "description": "Signed URL for downloading the original file."
                          },
                          "fileType": {
                            "type": "string",
                            "description": "MIME type of the file (e.g. `image/jpeg`, `application/pdf`)."
                          },
                          "expirationDate": {
                            "description": "ISO 8601 datetime after which the signed URL expires. Re-fetch the object to get a fresh URL.",
                            "type": "string"
                          }
                        },
                        "required": [
                          "url",
                          "fileType"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "id",
                    "structureId",
                    "collections",
                    "properties"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create object",
        "description": "Creates a new object in the current space. See [Objects](/api/concepts/objects) for collections, properties, and block content.\n\n<br>\n\n**Rate limit**: 30 requests per 60 seconds",
        "tags": [
          "Object"
        ],
        "x-codeSamples": [
          {
            "label": "TypeScript SDK",
            "lang": "Node",
            "source": "import { CapacitiesClient } from '@capacities/api'\n\nconst capacities = new CapacitiesClient({\n  apiToken: 'cap-api-1lNgD7****',\n})\n\nconst obj = await capacities.object.create({\n  structureId: '4ba6e5c6-3f31-45f2-93a0-27a8b2d91551',\n  collections: ['9f20f3d7-7df6-4b4a-8f82-123456789abc'],\n  properties: {\n    title: { type: 'title', title: { value: 'New object' } },\n  },\n  blocks: {\n    \"2b460909-3c4b-443e-91eb-315c1baf419c\": [\n      {\n        type: 'TextBlock',\n        tokens: [{ type: 'TextToken', text: 'Initial content', style: {} }],\n        hierarchy: { key: 'Base', val: 0 },\n      },\n    ],\n  },\n})"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "structureId": "4ba6e5c6-3f31-45f2-93a0-27a8b2d91551",
                "collections": [
                  "9f20f3d7-7df6-4b4a-8f82-123456789abc"
                ],
                "properties": {
                  "title": {
                    "type": "title",
                    "title": {
                      "value": "New object"
                    }
                  }
                },
                "blocks": {
                  "2b460909-3c4b-443e-91eb-315c1baf419c": [
                    {
                      "type": "TextBlock",
                      "tokens": [
                        {
                          "type": "TextToken",
                          "text": "Initial content",
                          "style": {}
                        }
                      ],
                      "hierarchy": {
                        "key": "Base",
                        "val": 0
                      }
                    }
                  ]
                }
              },
              "schema": {
                "type": "object",
                "properties": {
                  "structureId": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "uuid",
                        "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                      },
                      {
                        "type": "string",
                        "enum": [
                          "RootSpace",
                          "User",
                          "UserPersonal",
                          "RootDatabase",
                          "RootQuery",
                          "RootPage",
                          "RootStructure",
                          "RootEntity",
                          "RootBlocksTemplate",
                          "MediaImage",
                          "MediaPDF",
                          "MediaAudio",
                          "MediaVideo",
                          "MediaWebResource",
                          "MediaFile",
                          "MediaTweet",
                          "RootAIChat",
                          "RootSimpleTable",
                          "RootDailyNote",
                          "RootTag",
                          "UtilDate",
                          "RootTask"
                        ]
                      }
                    ],
                    "description": "Structure id (UUID for custom types, or a built-in id such as RootPage)."
                  },
                  "collections": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                    },
                    "description": "Collection ids to assign. Pass an empty array to use the default collection for this structure."
                  },
                  "properties": {
                    "description": "Initial writable properties to set on the new object.",
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/WritableApiObjectProperties"
                      }
                    ]
                  },
                  "blocks": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/WritableApiBlock"
                      }
                    },
                    "description": "Block content keyed by property definition id."
                  }
                },
                "required": [
                  "structureId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 OK",
            "content": {
              "application/json": {
                "example": {
                  "id": "7d2e7f8a-4c3b-4e1d-9f0a-123456789abc",
                  "structureId": "4ba6e5c6-3f31-45f2-93a0-27a8b2d91551",
                  "collections": [
                    "9f20f3d7-7df6-4b4a-8f82-123456789abc"
                  ],
                  "properties": {
                    "title": {
                      "type": "title",
                      "title": {
                        "value": "New object"
                      }
                    }
                  },
                  "blocks": {
                    "2b460909-3c4b-443e-91eb-315c1baf419c": [
                      {
                        "id": "0742d198-776c-4329-8524-9f320908d425",
                        "type": "TextBlock",
                        "tokens": [
                          {
                            "type": "TextToken",
                            "text": "Initial content",
                            "style": {}
                          }
                        ],
                        "blocks": [],
                        "hierarchy": {
                          "key": "Base",
                          "val": 0
                        }
                      }
                    ]
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
                      "description": "Unique identifier of the object."
                    },
                    "structureId": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "uuid",
                          "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                        },
                        {
                          "type": "string",
                          "enum": [
                            "RootSpace",
                            "User",
                            "UserPersonal",
                            "RootDatabase",
                            "RootQuery",
                            "RootPage",
                            "RootStructure",
                            "RootEntity",
                            "RootBlocksTemplate",
                            "MediaImage",
                            "MediaPDF",
                            "MediaAudio",
                            "MediaVideo",
                            "MediaWebResource",
                            "MediaFile",
                            "MediaTweet",
                            "RootAIChat",
                            "RootSimpleTable",
                            "RootDailyNote",
                            "RootTag",
                            "UtilDate",
                            "RootTask"
                          ]
                        }
                      ],
                      "description": "Structure id (UUID for custom types, or a built-in id such as RootPage)."
                    },
                    "collections": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "uuid",
                        "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                      },
                      "description": "Collection ids this object is currently assigned to."
                    },
                    "properties": {
                      "$ref": "#/components/schemas/ApiObjectProperties"
                    },
                    "blocks": {
                      "description": "Block content keyed by property definition id.",
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/ApiBlock"
                        }
                      }
                    },
                    "files": {
                      "description": "File resources attached to this object. Present only for media object types.",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string",
                            "description": "Signed URL for downloading the original file."
                          },
                          "fileType": {
                            "type": "string",
                            "description": "MIME type of the file (e.g. `image/jpeg`, `application/pdf`)."
                          },
                          "expirationDate": {
                            "description": "ISO 8601 datetime after which the signed URL expires. Re-fetch the object to get a fresh URL.",
                            "type": "string"
                          }
                        },
                        "required": [
                          "url",
                          "fileType"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "id",
                    "structureId",
                    "collections",
                    "properties"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update object",
        "description": "Updates an object by id. Provide at least one of `properties`, `collections`, or `blocks`. See [Objects](/api/concepts/objects).\n\n<br>\n\n**Rate limit**: 30 requests per 60 seconds",
        "tags": [
          "Object"
        ],
        "x-codeSamples": [
          {
            "label": "TypeScript SDK",
            "lang": "Node",
            "source": "import { CapacitiesClient } from '@capacities/api'\n\nconst capacities = new CapacitiesClient({\n  apiToken: 'cap-api-1lNgD7****',\n})\n\nconst obj = await capacities.object.update({\n  id: '7d2e7f8a-4c3b-4e1d-9f0a-123456789abc',\n  properties: {\n    title: { type: 'title', title: { value: 'New title' } },\n  },\n  collections: ['9f20f3d7-7df6-4b4a-8f82-123456789abc'],\n})"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "id": "7d2e7f8a-4c3b-4e1d-9f0a-123456789abc",
                "properties": {
                  "title": {
                    "type": "title",
                    "title": {
                      "value": "New title"
                    }
                  }
                },
                "collections": [
                  "9f20f3d7-7df6-4b4a-8f82-123456789abc"
                ]
              },
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Unique identifier of the object to update."
                  },
                  "collections": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                    },
                    "description": "Collection ids to assign. Pass an empty array to use the default collection for this structure."
                  },
                  "properties": {
                    "description": "Map of property definition id → value; only include keys you want to change.",
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/WritableApiObjectProperties"
                      }
                    ]
                  },
                  "blocks": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/WritableApiBlock"
                      }
                    },
                    "description": "Block content keyed by property definition id."
                  },
                  "deleteRequested": {
                    "description": "When `true`, moves the object to trash. When `false`, restores a trashed object.",
                    "type": "boolean"
                  }
                },
                "required": [
                  "id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 OK",
            "content": {
              "application/json": {
                "example": {
                  "id": "7d2e7f8a-4c3b-4e1d-9f0a-123456789abc",
                  "structureId": "4ba6e5c6-3f31-45f2-93a0-27a8b2d91551",
                  "collections": [
                    "9f20f3d7-7df6-4b4a-8f82-123456789abc"
                  ],
                  "properties": {
                    "title": {
                      "type": "title",
                      "title": {
                        "value": "New title"
                      }
                    }
                  },
                  "blocks": {}
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
                      "description": "Unique identifier of the object."
                    },
                    "structureId": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "uuid",
                          "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                        },
                        {
                          "type": "string",
                          "enum": [
                            "RootSpace",
                            "User",
                            "UserPersonal",
                            "RootDatabase",
                            "RootQuery",
                            "RootPage",
                            "RootStructure",
                            "RootEntity",
                            "RootBlocksTemplate",
                            "MediaImage",
                            "MediaPDF",
                            "MediaAudio",
                            "MediaVideo",
                            "MediaWebResource",
                            "MediaFile",
                            "MediaTweet",
                            "RootAIChat",
                            "RootSimpleTable",
                            "RootDailyNote",
                            "RootTag",
                            "UtilDate",
                            "RootTask"
                          ]
                        }
                      ],
                      "description": "Structure id (UUID for custom types, or a built-in id such as RootPage)."
                    },
                    "collections": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "uuid",
                        "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                      },
                      "description": "Collection ids this object is currently assigned to."
                    },
                    "properties": {
                      "$ref": "#/components/schemas/ApiObjectProperties"
                    },
                    "blocks": {
                      "description": "Block content keyed by property definition id.",
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/ApiBlock"
                        }
                      }
                    },
                    "files": {
                      "description": "File resources attached to this object. Present only for media object types.",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string",
                            "description": "Signed URL for downloading the original file."
                          },
                          "fileType": {
                            "type": "string",
                            "description": "MIME type of the file (e.g. `image/jpeg`, `application/pdf`)."
                          },
                          "expirationDate": {
                            "description": "ISO 8601 datetime after which the signed URL expires. Re-fetch the object to get a fresh URL.",
                            "type": "string"
                          }
                        },
                        "required": [
                          "url",
                          "fileType"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "id",
                    "structureId",
                    "collections",
                    "properties"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete object",
        "description": "Deletes an object (moves to trash by default). Pass `hardDelete=true` to permanently delete. See [Objects](/api/concepts/objects).\n\n<br>\n\n**Rate limit**: 30 requests per 60 seconds",
        "tags": [
          "Object"
        ],
        "x-codeSamples": [
          {
            "label": "TypeScript SDK",
            "lang": "Node",
            "source": "import { CapacitiesClient } from '@capacities/api'\n\nconst capacities = new CapacitiesClient({\n  apiToken: 'cap-api-1lNgD7****',\n})\n\nawait capacities.object.delete({\n  id: '7d2e7f8a-4c3b-4e1d-9f0a-123456789abc',\n})"
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "id",
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
              "description": "Unique identifier of the object to delete."
            },
            "required": true,
            "description": "Unique identifier of the object to delete."
          },
          {
            "in": "query",
            "name": "hardDelete",
            "schema": {
              "description": "When `true`, permanently deletes the object. When omitted or `false`, moves the object to trash.",
              "type": "boolean"
            },
            "required": true,
            "description": "When `true`, permanently deletes the object. When omitted or `false`, moves the object to trash."
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK"
          }
        }
      }
    },
    "/object/url": {
      "post": {
        "summary": "Create object from URL",
        "description": "Creates a weblink or media object from a URL. Optional `properties` set title and description; optional `markdown` or `blocks` add notes (not both). See [Markdown](/api/concepts/markdown) and [Blocks](/api/concepts/blocks).\n\n<br>\n\n**Rate limit**: 10 requests per 60 seconds",
        "tags": [
          "Object"
        ],
        "x-codeSamples": [
          {
            "label": "TypeScript SDK",
            "lang": "Node",
            "source": "import { CapacitiesClient } from '@capacities/api'\n\nconst capacities = new CapacitiesClient({\n  apiToken: 'cap-api-1lNgD7****',\n})\n\nconst obj = await capacities.object.createFromUrl({\n  url: 'https://example.com/article',\n  properties: {\n    title: { type: 'title', title: { value: 'Example article' } },\n    description: { type: 'text', text: { value: 'A short summary' } },\n  },\n  markdown: 'Notes about this article',\n})"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "url": "https://example.com/article",
                "properties": {
                  "title": {
                    "type": "title",
                    "title": {
                      "value": "Example article"
                    }
                  },
                  "description": {
                    "type": "text",
                    "text": {
                      "value": "A short summary"
                    }
                  }
                },
                "markdown": "Notes about this article"
              },
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL to save as a web resource object."
                  },
                  "markdown": {
                    "description": "Optional Markdown content to add to the notes of the new object.",
                    "type": "string",
                    "maxLength": 200000
                  },
                  "blocks": {
                    "description": "Optional block content keyed by property definition id (e.g. `media_notes`).",
                    "type": "object",
                    "additionalProperties": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/WritableApiBlock"
                      }
                    }
                  },
                  "properties": {
                    "description": "Optional title and description overrides for the created web resource.",
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/CreateObjectFromUrlProperties"
                      }
                    ]
                  }
                },
                "required": [
                  "url"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 OK",
            "content": {
              "application/json": {
                "example": {
                  "id": "7d2e7f8a-4c3b-4e1d-9f0a-123456789abc",
                  "structureId": "MediaWebResource",
                  "collections": [],
                  "properties": {
                    "title": {
                      "type": "title",
                      "title": {
                        "value": "Example article"
                      }
                    },
                    "media_URLReference": {
                      "type": "url",
                      "url": {
                        "value": "https://example.com/article"
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
                      "description": "Unique identifier of the object."
                    },
                    "structureId": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "uuid",
                          "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                        },
                        {
                          "type": "string",
                          "enum": [
                            "RootSpace",
                            "User",
                            "UserPersonal",
                            "RootDatabase",
                            "RootQuery",
                            "RootPage",
                            "RootStructure",
                            "RootEntity",
                            "RootBlocksTemplate",
                            "MediaImage",
                            "MediaPDF",
                            "MediaAudio",
                            "MediaVideo",
                            "MediaWebResource",
                            "MediaFile",
                            "MediaTweet",
                            "RootAIChat",
                            "RootSimpleTable",
                            "RootDailyNote",
                            "RootTag",
                            "UtilDate",
                            "RootTask"
                          ]
                        }
                      ],
                      "description": "Structure id (UUID for custom types, or a built-in id such as RootPage)."
                    },
                    "collections": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "uuid",
                        "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                      },
                      "description": "Collection ids this object is currently assigned to."
                    },
                    "properties": {
                      "$ref": "#/components/schemas/ApiObjectProperties"
                    },
                    "blocks": {
                      "description": "Block content keyed by property definition id.",
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/ApiBlock"
                        }
                      }
                    },
                    "files": {
                      "description": "File resources attached to this object. Present only for media object types.",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string",
                            "description": "Signed URL for downloading the original file."
                          },
                          "fileType": {
                            "type": "string",
                            "description": "MIME type of the file (e.g. `image/jpeg`, `application/pdf`)."
                          },
                          "expirationDate": {
                            "description": "ISO 8601 datetime after which the signed URL expires. Re-fetch the object to get a fresh URL.",
                            "type": "string"
                          }
                        },
                        "required": [
                          "url",
                          "fileType"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "id",
                    "structureId",
                    "collections",
                    "properties"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/object/markdown": {
      "get": {
        "summary": "Get object as Markdown",
        "description": "Exports an object as Markdown. See [Markdown](/api/concepts/markdown).\n\n<br>\n\n**Rate limit**: 30 requests per 60 seconds",
        "tags": [
          "Object"
        ],
        "x-codeSamples": [
          {
            "label": "TypeScript SDK",
            "lang": "Node",
            "source": "import { CapacitiesClient } from '@capacities/api'\n\nconst capacities = new CapacitiesClient({\n  apiToken: 'cap-api-1lNgD7****',\n})\n\nconst obj = await capacities.object.markdown.get({\n  id: '7d2e7f8a-4c3b-4e1d-9f0a-123456789abc',\n})"
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "id",
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
              "description": "Unique identifier of the object to render as Markdown."
            },
            "required": true,
            "description": "Unique identifier of the object to render as Markdown."
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "content": {
              "application/json": {
                "example": {
                  "id": "7d2e7f8a-4c3b-4e1d-9f0a-123456789abc",
                  "structureId": "4ba6e5c6-3f31-45f2-93a0-27a8b2d91551",
                  "markdown": "# Example\n\nHello from Capacities."
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
                      "description": "Unique identifier of the object."
                    },
                    "structureId": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "uuid",
                          "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                        },
                        {
                          "type": "string",
                          "enum": [
                            "RootSpace",
                            "User",
                            "UserPersonal",
                            "RootDatabase",
                            "RootQuery",
                            "RootPage",
                            "RootStructure",
                            "RootEntity",
                            "RootBlocksTemplate",
                            "MediaImage",
                            "MediaPDF",
                            "MediaAudio",
                            "MediaVideo",
                            "MediaWebResource",
                            "MediaFile",
                            "MediaTweet",
                            "RootAIChat",
                            "RootSimpleTable",
                            "RootDailyNote",
                            "RootTag",
                            "UtilDate",
                            "RootTask"
                          ]
                        }
                      ],
                      "description": "Structure id (UUID for custom types, or a built-in id such as RootPage)."
                    },
                    "markdown": {
                      "type": "string",
                      "description": "Markdown representation of the object content."
                    }
                  },
                  "required": [
                    "id",
                    "structureId",
                    "markdown"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create object from Markdown",
        "description": "Creates an object from Markdown. See [Markdown](/api/concepts/markdown).\n\n<br>\n\n**Rate limit**: 30 requests per 60 seconds",
        "tags": [
          "Object"
        ],
        "x-codeSamples": [
          {
            "label": "TypeScript SDK",
            "lang": "Node",
            "source": "import { CapacitiesClient } from '@capacities/api'\n\nconst capacities = new CapacitiesClient({\n  apiToken: 'cap-api-1lNgD7****',\n})\n\nconst obj = await capacities.object.markdown.create({\n  structureId: '4ba6e5c6-3f31-45f2-93a0-27a8b2d91551',\n  markdown: '# New object\\n\\nInitial content',\n})"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "structureId": "4ba6e5c6-3f31-45f2-93a0-27a8b2d91551",
                "markdown": "# New object\n\nInitial content"
              },
              "schema": {
                "type": "object",
                "properties": {
                  "structureId": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "uuid",
                        "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                      },
                      {
                        "type": "string",
                        "enum": [
                          "RootSpace",
                          "User",
                          "UserPersonal",
                          "RootDatabase",
                          "RootQuery",
                          "RootPage",
                          "RootStructure",
                          "RootEntity",
                          "RootBlocksTemplate",
                          "MediaImage",
                          "MediaPDF",
                          "MediaAudio",
                          "MediaVideo",
                          "MediaWebResource",
                          "MediaFile",
                          "MediaTweet",
                          "RootAIChat",
                          "RootSimpleTable",
                          "RootDailyNote",
                          "RootTag",
                          "UtilDate",
                          "RootTask"
                        ]
                      }
                    ],
                    "description": "Structure id (UUID for custom types, or a built-in id such as RootPage)."
                  },
                  "markdown": {
                    "type": "string",
                    "description": "Markdown content used to create the object."
                  }
                },
                "required": [
                  "structureId",
                  "markdown"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 OK",
            "content": {
              "application/json": {
                "example": {
                  "id": "7d2e7f8a-4c3b-4e1d-9f0a-123456789abc",
                  "structureId": "4ba6e5c6-3f31-45f2-93a0-27a8b2d91551",
                  "collections": [
                    "9f20f3d7-7df6-4b4a-8f82-123456789abc"
                  ],
                  "properties": {
                    "title": {
                      "type": "title",
                      "title": {
                        "value": "New object"
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
                      "description": "Unique identifier of the object."
                    },
                    "structureId": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "uuid",
                          "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                        },
                        {
                          "type": "string",
                          "enum": [
                            "RootSpace",
                            "User",
                            "UserPersonal",
                            "RootDatabase",
                            "RootQuery",
                            "RootPage",
                            "RootStructure",
                            "RootEntity",
                            "RootBlocksTemplate",
                            "MediaImage",
                            "MediaPDF",
                            "MediaAudio",
                            "MediaVideo",
                            "MediaWebResource",
                            "MediaFile",
                            "MediaTweet",
                            "RootAIChat",
                            "RootSimpleTable",
                            "RootDailyNote",
                            "RootTag",
                            "UtilDate",
                            "RootTask"
                          ]
                        }
                      ],
                      "description": "Structure id (UUID for custom types, or a built-in id such as RootPage)."
                    },
                    "collections": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "uuid",
                        "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                      },
                      "description": "Collection ids this object is currently assigned to."
                    },
                    "properties": {
                      "$ref": "#/components/schemas/ApiObjectProperties"
                    },
                    "blocks": {
                      "description": "Block content keyed by property definition id.",
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/ApiBlock"
                        }
                      }
                    },
                    "files": {
                      "description": "File resources attached to this object. Present only for media object types.",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string",
                            "description": "Signed URL for downloading the original file."
                          },
                          "fileType": {
                            "type": "string",
                            "description": "MIME type of the file (e.g. `image/jpeg`, `application/pdf`)."
                          },
                          "expirationDate": {
                            "description": "ISO 8601 datetime after which the signed URL expires. Re-fetch the object to get a fresh URL.",
                            "type": "string"
                          }
                        },
                        "required": [
                          "url",
                          "fileType"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "id",
                    "structureId",
                    "collections",
                    "properties"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update object properties from Markdown",
        "description": "Updates writable object properties from YAML frontmatter in a Markdown string. Body content after the frontmatter is ignored. See [Markdown](/api/concepts/markdown).\n\n<br>\n\n**Rate limit**: 30 requests per 60 seconds",
        "tags": [
          "Object"
        ],
        "x-codeSamples": [
          {
            "label": "TypeScript SDK",
            "lang": "Node",
            "source": "import { CapacitiesClient } from '@capacities/api'\n\nconst capacities = new CapacitiesClient({\n  apiToken: 'cap-api-1lNgD7****',\n})\n\nconst obj = await capacities.object.markdown.update({\n  id: '7d2e7f8a-4c3b-4e1d-9f0a-123456789abc',\n  markdown: '---\\ndescription: Updated description\\n---\\n',\n})"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "id": "7d2e7f8a-4c3b-4e1d-9f0a-123456789abc",
                "markdown": "---\ndescription: Updated description\n---\n"
              },
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Unique identifier of the object to update."
                  },
                  "markdown": {
                    "type": "string",
                    "description": "Markdown with YAML frontmatter for the properties to update. Body content after --- is ignored."
                  }
                },
                "required": [
                  "id",
                  "markdown"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 OK",
            "content": {
              "application/json": {
                "example": {
                  "id": "7d2e7f8a-4c3b-4e1d-9f0a-123456789abc",
                  "structureId": "4ba6e5c6-3f31-45f2-93a0-27a8b2d91551",
                  "collections": [
                    "9f20f3d7-7df6-4b4a-8f82-123456789abc"
                  ],
                  "properties": {
                    "title": {
                      "type": "title",
                      "title": {
                        "value": "Example object"
                      }
                    },
                    "description": {
                      "type": "text",
                      "text": {
                        "value": "Updated description"
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
                      "description": "Unique identifier of the object."
                    },
                    "structureId": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "uuid",
                          "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                        },
                        {
                          "type": "string",
                          "enum": [
                            "RootSpace",
                            "User",
                            "UserPersonal",
                            "RootDatabase",
                            "RootQuery",
                            "RootPage",
                            "RootStructure",
                            "RootEntity",
                            "RootBlocksTemplate",
                            "MediaImage",
                            "MediaPDF",
                            "MediaAudio",
                            "MediaVideo",
                            "MediaWebResource",
                            "MediaFile",
                            "MediaTweet",
                            "RootAIChat",
                            "RootSimpleTable",
                            "RootDailyNote",
                            "RootTag",
                            "UtilDate",
                            "RootTask"
                          ]
                        }
                      ],
                      "description": "Structure id (UUID for custom types, or a built-in id such as RootPage)."
                    },
                    "collections": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "uuid",
                        "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                      },
                      "description": "Collection ids this object is currently assigned to."
                    },
                    "properties": {
                      "$ref": "#/components/schemas/ApiObjectProperties"
                    },
                    "blocks": {
                      "description": "Block content keyed by property definition id.",
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/ApiBlock"
                        }
                      }
                    },
                    "files": {
                      "description": "File resources attached to this object. Present only for media object types.",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string",
                            "description": "Signed URL for downloading the original file."
                          },
                          "fileType": {
                            "type": "string",
                            "description": "MIME type of the file (e.g. `image/jpeg`, `application/pdf`)."
                          },
                          "expirationDate": {
                            "description": "ISO 8601 datetime after which the signed URL expires. Re-fetch the object to get a fresh URL.",
                            "type": "string"
                          }
                        },
                        "required": [
                          "url",
                          "fileType"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "id",
                    "structureId",
                    "collections",
                    "properties"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/objects/search": {
      "post": {
        "summary": "Search objects",
        "description": "Searches objects in the current space by matching the query against object titles. Results are ordered by relevance and can be limited to specific structures with `structureIds`.\n\n<br>\n\n**Rate limit**: 30 requests per 60 seconds",
        "tags": [
          "Objects"
        ],
        "x-codeSamples": [
          {
            "label": "TypeScript SDK",
            "lang": "Node",
            "source": "import { CapacitiesClient } from '@capacities/api'\n\nconst capacities = new CapacitiesClient({\n  apiToken: 'cap-api-1lNgD7****',\n})\n\nconst { results } = await capacities.objects.search({\n  query: 'project alpha',\n  structureIds: ['RootPage'],\n})"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "query": "project alpha",
                "structureIds": [
                  "RootPage"
                ],
                "limit": 20
              },
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 512,
                    "description": "Text to match against object titles."
                  },
                  "structureIds": {
                    "description": "Optional structure id filters. When set, only objects of these types are returned.",
                    "minItems": 1,
                    "maxItems": 25,
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "uuid",
                          "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                        },
                        {
                          "type": "string",
                          "enum": [
                            "RootSpace",
                            "User",
                            "UserPersonal",
                            "RootDatabase",
                            "RootQuery",
                            "RootPage",
                            "RootStructure",
                            "RootEntity",
                            "RootBlocksTemplate",
                            "MediaImage",
                            "MediaPDF",
                            "MediaAudio",
                            "MediaVideo",
                            "MediaWebResource",
                            "MediaFile",
                            "MediaTweet",
                            "RootAIChat",
                            "RootSimpleTable",
                            "RootDailyNote",
                            "RootTag",
                            "UtilDate",
                            "RootTask"
                          ]
                        }
                      ],
                      "description": "Structure id (UUID for custom types, or a built-in id such as RootPage)."
                    }
                  },
                  "limit": {
                    "description": "Maximum number of results to return. Defaults to 20, maximum 50.",
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 50
                  }
                },
                "required": [
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 OK",
            "content": {
              "application/json": {
                "example": {
                  "results": [
                    {
                      "id": "7d2e7f8a-4c3b-4e1d-9f0a-123456789abc",
                      "structureId": "RootPage",
                      "title": "Project Alpha"
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
                            "description": "Unique identifier of the matching object."
                          },
                          "structureId": {
                            "anyOf": [
                              {
                                "type": "string",
                                "format": "uuid",
                                "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                              },
                              {
                                "type": "string",
                                "enum": [
                                  "RootSpace",
                                  "User",
                                  "UserPersonal",
                                  "RootDatabase",
                                  "RootQuery",
                                  "RootPage",
                                  "RootStructure",
                                  "RootEntity",
                                  "RootBlocksTemplate",
                                  "MediaImage",
                                  "MediaPDF",
                                  "MediaAudio",
                                  "MediaVideo",
                                  "MediaWebResource",
                                  "MediaFile",
                                  "MediaTweet",
                                  "RootAIChat",
                                  "RootSimpleTable",
                                  "RootDailyNote",
                                  "RootTag",
                                  "UtilDate",
                                  "RootTask"
                                ]
                              }
                            ],
                            "description": "Structure id (UUID for custom types, or a built-in id such as RootPage)."
                          },
                          "title": {
                            "type": "string",
                            "description": "Display title of the matching object."
                          }
                        },
                        "required": [
                          "id",
                          "structureId",
                          "title"
                        ],
                        "additionalProperties": false
                      },
                      "description": "Matching objects ordered by search relevance."
                    }
                  },
                  "required": [
                    "results"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/blocks/append": {
      "post": {
        "summary": "Append blocks",
        "description": "Appends content to an object as blocks or Markdown (provide exactly one of `blocks` or `markdown`). See [Blocks](/api/concepts/blocks) for position, parent, and property options.\n\n<br>\n\n**Rate limit**: 30 requests per 60 seconds",
        "tags": [
          "Blocks"
        ],
        "x-codeSamples": [
          {
            "label": "TypeScript SDK",
            "lang": "Node",
            "source": "import { CapacitiesClient } from '@capacities/api'\n\nconst capacities = new CapacitiesClient({\n  apiToken: 'cap-api-1lNgD7****',\n})\n\nconst obj = await capacities.blocks.append({\n  id: '7d2e7f8a-4c3b-4e1d-9f0a-123456789abc',\n  blocks: [\n    {\n      type: 'TextBlock',\n      tokens: [{ type: 'TextToken', text: 'New paragraph', style: {} }],\n      hierarchy: { key: 'Base', val: 0 },\n    },\n  ],\n})"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "id": "7d2e7f8a-4c3b-4e1d-9f0a-123456789abc",
                "position": {
                  "type": "end"
                },
                "blocks": [
                  {
                    "type": "TextBlock",
                    "tokens": [
                      {
                        "type": "TextToken",
                        "text": "New paragraph",
                        "style": {}
                      }
                    ],
                    "hierarchy": {
                      "key": "Base",
                      "val": 0
                    }
                  }
                ]
              },
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid",
                    "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
                    "description": "ID of the object to append blocks to."
                  },
                  "propertyId": {
                    "description": "Property definition id for the block field.",
                    "type": "string"
                  },
                  "parentBlockId": {
                    "description": "Parent block id when nesting under `end` or `start`.",
                    "type": "string"
                  },
                  "position": {
                    "description": "Insert position (`end`, `start`, or `after_block`).",
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/AppendBlocksPosition"
                      }
                    ]
                  },
                  "blocks": {
                    "description": "Blocks to append. Omit `id` on new blocks.",
                    "minItems": 1,
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/WritableApiBlock"
                    }
                  },
                  "markdown": {
                    "description": "Markdown to convert and append as blocks.",
                    "type": "string",
                    "maxLength": 200000
                  }
                },
                "required": [
                  "id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 OK",
            "content": {
              "application/json": {
                "example": {
                  "id": "7d2e7f8a-4c3b-4e1d-9f0a-123456789abc",
                  "structureId": "4ba6e5c6-3f31-45f2-93a0-27a8b2d91551",
                  "collections": [
                    "9f20f3d7-7df6-4b4a-8f82-123456789abc"
                  ],
                  "properties": {
                    "title": {
                      "type": "title",
                      "title": {
                        "value": "Example"
                      }
                    }
                  },
                  "blocks": {
                    "content": [
                      {
                        "id": "0742d198-776c-4329-8524-9f320908d425",
                        "type": "TextBlock",
                        "tokens": [
                          {
                            "type": "TextToken",
                            "text": "New paragraph",
                            "style": {}
                          }
                        ],
                        "blocks": [],
                        "hierarchy": {
                          "key": "Base",
                          "val": 0
                        }
                      }
                    ]
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
                      "description": "Unique identifier of the object."
                    },
                    "structureId": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "uuid",
                          "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                        },
                        {
                          "type": "string",
                          "enum": [
                            "RootSpace",
                            "User",
                            "UserPersonal",
                            "RootDatabase",
                            "RootQuery",
                            "RootPage",
                            "RootStructure",
                            "RootEntity",
                            "RootBlocksTemplate",
                            "MediaImage",
                            "MediaPDF",
                            "MediaAudio",
                            "MediaVideo",
                            "MediaWebResource",
                            "MediaFile",
                            "MediaTweet",
                            "RootAIChat",
                            "RootSimpleTable",
                            "RootDailyNote",
                            "RootTag",
                            "UtilDate",
                            "RootTask"
                          ]
                        }
                      ],
                      "description": "Structure id (UUID for custom types, or a built-in id such as RootPage)."
                    },
                    "collections": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "uuid",
                        "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                      },
                      "description": "Collection ids this object is currently assigned to."
                    },
                    "properties": {
                      "$ref": "#/components/schemas/ApiObjectProperties"
                    },
                    "blocks": {
                      "description": "Block content keyed by property definition id.",
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/ApiBlock"
                        }
                      }
                    },
                    "files": {
                      "description": "File resources attached to this object. Present only for media object types.",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string",
                            "description": "Signed URL for downloading the original file."
                          },
                          "fileType": {
                            "type": "string",
                            "description": "MIME type of the file (e.g. `image/jpeg`, `application/pdf`)."
                          },
                          "expirationDate": {
                            "description": "ISO 8601 datetime after which the signed URL expires. Re-fetch the object to get a fresh URL.",
                            "type": "string"
                          }
                        },
                        "required": [
                          "url",
                          "fileType"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "id",
                    "structureId",
                    "collections",
                    "properties"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/blocks/daily-note/append": {
      "post": {
        "summary": "Append blocks to daily note",
        "description": "Appends content to a daily note as blocks or Markdown (provide exactly one of `blocks` or `markdown`; processed asynchronously). See [Blocks](/api/concepts/blocks#daily-notes).\n\n<br>\n\n**Rate limit**: 30 requests per 60 seconds",
        "tags": [
          "Blocks"
        ],
        "x-codeSamples": [
          {
            "label": "TypeScript SDK",
            "lang": "Node",
            "source": "import { CapacitiesClient } from '@capacities/api'\n\nconst capacities = new CapacitiesClient({\n  apiToken: 'cap-api-1lNgD7****',\n})\n\nawait capacities.blocks.dailyNote.append({\n  blocks: [\n    {\n      type: 'TextBlock',\n      tokens: [{ type: 'TextToken', text: 'My note', style: {} }],\n      hierarchy: { key: 'Base', val: 0 },\n    },\n  ],\n})"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "blocks": [
                  {
                    "type": "TextBlock",
                    "tokens": [
                      {
                        "type": "TextToken",
                        "text": "My note",
                        "style": {}
                      }
                    ],
                    "hierarchy": {
                      "key": "Base",
                      "val": 0
                    }
                  }
                ]
              },
              "schema": {
                "type": "object",
                "properties": {
                  "date": {
                    "description": "Daily note day (ISO 8601, UTC midnight). Defaults to today.",
                    "type": "string"
                  },
                  "noTimeStamp": {
                    "description": "When `true`, omit the timestamp heading block.",
                    "type": "boolean"
                  },
                  "blocks": {
                    "description": "Blocks to append. Omit `id` on new blocks.",
                    "minItems": 1,
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/WritableApiBlock"
                    }
                  },
                  "markdown": {
                    "description": "Markdown content to append to the daily note.",
                    "type": "string",
                    "maxLength": 200000
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 OK"
          }
        }
      }
    },
    "/blocks/block": {
      "patch": {
        "summary": "Update block",
        "description": "Updates a single block’s content. See [Blocks](/api/concepts/blocks#updating-a-single-block).\n\n<br>\n\n**Rate limit**: 30 requests per 60 seconds",
        "tags": [
          "Blocks"
        ],
        "x-codeSamples": [
          {
            "label": "TypeScript SDK",
            "lang": "Node",
            "source": "import { CapacitiesClient } from '@capacities/api'\n\nconst capacities = new CapacitiesClient({\n  apiToken: 'cap-api-1lNgD7****',\n})\n\nconst obj = await capacities.blocks.update({\n  id: '7d2e7f8a-4c3b-4e1d-9f0a-123456789abc',\n  blockId: '0742d198-776c-4329-8524-9f320908d425',\n  block: {\n    type: 'TextBlock',\n    tokens: [{ type: 'TextToken', text: 'Updated text', style: {} }],\n    hierarchy: { key: 'Base', val: 0 },\n  },\n})"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "id": "7d2e7f8a-4c3b-4e1d-9f0a-123456789abc",
                "blockId": "0742d198-776c-4329-8524-9f320908d425",
                "block": {
                  "type": "TextBlock",
                  "tokens": [
                    {
                      "type": "TextToken",
                      "text": "Updated text",
                      "style": {}
                    }
                  ],
                  "hierarchy": {
                    "key": "Base",
                    "val": 0
                  }
                }
              },
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid",
                    "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
                    "description": "Unique identifier of the object containing the block."
                  },
                  "blockId": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Unique identifier of the block to update."
                  },
                  "propertyId": {
                    "description": "Property definition id that contains the block.",
                    "type": "string"
                  },
                  "block": {
                    "description": "Replacement block content.",
                    "$ref": "#/components/schemas/WritableApiBlock"
                  }
                },
                "required": [
                  "id",
                  "blockId",
                  "block"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 OK",
            "content": {
              "application/json": {
                "example": {
                  "id": "7d2e7f8a-4c3b-4e1d-9f0a-123456789abc",
                  "structureId": "4ba6e5c6-3f31-45f2-93a0-27a8b2d91551",
                  "collections": [
                    "9f20f3d7-7df6-4b4a-8f82-123456789abc"
                  ],
                  "properties": {
                    "title": {
                      "type": "title",
                      "title": {
                        "value": "Example"
                      }
                    }
                  },
                  "blocks": {
                    "content": [
                      {
                        "id": "0742d198-776c-4329-8524-9f320908d425",
                        "type": "TextBlock",
                        "tokens": [
                          {
                            "type": "TextToken",
                            "text": "Updated text",
                            "style": {}
                          }
                        ],
                        "blocks": [],
                        "hierarchy": {
                          "key": "Base",
                          "val": 0
                        }
                      }
                    ]
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
                      "description": "Unique identifier of the object."
                    },
                    "structureId": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "uuid",
                          "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                        },
                        {
                          "type": "string",
                          "enum": [
                            "RootSpace",
                            "User",
                            "UserPersonal",
                            "RootDatabase",
                            "RootQuery",
                            "RootPage",
                            "RootStructure",
                            "RootEntity",
                            "RootBlocksTemplate",
                            "MediaImage",
                            "MediaPDF",
                            "MediaAudio",
                            "MediaVideo",
                            "MediaWebResource",
                            "MediaFile",
                            "MediaTweet",
                            "RootAIChat",
[...]
